:root {
    --accent-color: #ee313c;
    --dark-color: #333333;
    --light-color: #656565;
    --lighter-color: #919aa1;
}

.disable-touch {
    touch-action: none;
}

.light-color {
    color: var(--light-color);
}

.lighter-color {
    color: var(--lighter-color);
}

@font-face {
    font-family: "Jost";
    src: url("../res/fonts/Jost-400-Book.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Jost";
    src: url("../res/fonts/Jost-600-Semi.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Jost";
    src: url("../res/fonts/Jost-900-Black.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

html, body {
    padding: 0px;
    margin: 0px;
    font-family: "Jost", sans-serif;
    font-weight: normal;
    color: var(--dark-color);
    font-size: 15px;
}

h1, h2, h3, h4, h5, h6, p {
    padding: 0px;
    margin: 0px;
    font-family: "Jost";
    font-weight: normal;
}

h1, h2, a, a:hover {
    color: var(--accent-color);
}

h1 {
    font-size: 10rem;
    font-weight: 600;
}

h2 {
    font-size: 3rem;
    font-weight: 600;
}

h3 {
    font-size: 2rem;
    font-weight: 600;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1rem;
}

p {
    font-size: 1rem;
}

.main {
    padding-top: 5%;
}

.subtitle {
    padding-left: 1rem;
    padding-top: 5%;
}

.detail-text p {
    font-size: .85rem;
    color: var(--light-color);
}

.source-text, .image-desc p {
    font-size: .75rem;
}

.viewport {
    display: flex;
    height: 100vh;
    max-width: 100%;
    overflow: hidden;
    padding: 0px 0px 0px 50px;
}

.footer-container {
    flex-wrap: wrap;
    padding: 0px;
}

.logo {
    max-width: 75%;
}

.rows {
    height: auto;
    padding-top: 2.5vh
}

.row-container {
    display: flex;
    width: 100%;
    padding: 0px 10px;
    min-height: 45%;
}

.vid {
    width: 55%;
    padding: 2%;
    margin-top: 2.5%;
    display: flex;
}

.caption {
    width: 45%;
    padding: 2%;
}

.specs {
    width: 55%;
    padding: 2%;
}

.pics {
    width: 45%;
    padding: 2%;
}

.welcome-container {
    width: 100%;
    padding-top: 5%;
}

.video-container {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-col {
    display: flex;
    align-items: flex-end;
}

.video-adapt {
    max-width: 100%;
    max-height: 100%;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.image-container {
    height: 100%;
    width: 50%;
}

.detail-col {
    width: 50%;
}

.top-space-2_5 {
    padding-top: 2.5vh;
}

.left-space-2_5 {
    padding-left: 2.5vw;
}

.left-space-5 {
    margin-left: 5vw;
}

.right-space-5 {
    padding-right: 5vw;
}

.top-space-5 {
    padding-top: 5vh;
}

.image {
    height: 20vh;
    background-color: var(--accent-color);
}

.image-adapt {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
}

.detail-row, .tab {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.button-selected {
    font-weight: 700;
    background-color: rgba(238, 49, 60, 0.15);
}

.button {
    cursor: pointer;
    height: 5vh;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.25s ease 0s;
}

.details {
    display: flex;
    flex-wrap: wrap;
}

.border-bottom {
    border-bottom: 1px solid var(--accent-color);
}

.ico {
    filter: brightness(.666);
    height: 2.5vw;
    width: 2.5vw;
    margin-right: 15px;
}

.icon-group {
    display: flex;
    padding-bottom: 2.5vh;
}

.left-navbar {
    transition: left 300ms ease;
    position: fixed;
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.left-navbar-element {
    cursor: pointer;
    padding-left: 15%;
    line-height: 50px;
    width: 100%;
    transition: all 0.4s ease-out 0s;
}

.left-navbar-element-selected {
    padding-left: 15px;
    border-left: 6px solid var(--accent-color);
}

.left-navbar-element-selected p {
    color: var(--accent-color);
}

.process {
    width: 16.66%;
}

.graph {
    max-width: 95%;
    padding-left: 5%;
    max-height: 15vh;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.last-page {
    display: flex;
    align-items: center;
    text-align: center;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

footer {
    width: 100%;
    height: auto;
    padding-top: 1rem;
    align-self: flex-end;
    background-color: #f6f6f6;
    padding-bottom: 25px;
}

.home-button {
    position: fixed;
    bottom: 0;
    right: 0;
    min-width: 48px;
    height: 48px;
    margin: 24px;
    border-radius: 24px;
    background-color: var(--accent-color);
    background-image: url("../res/ico/home_button.svg");
    background-size: 48px;
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 50%;
    cursor: pointer;
    z-index: 1000;
    transition: all 0.25s ease-out 0s;
}

.home-button-text {
    padding-left: 0px;
    overflow: hidden;
    line-height: 48px;
    padding-right: 0px;
    color: white;
    max-width: 0px;
    transition: all 1s ease 0s;
    overflow: hidden;
}

.home-button-text-container {}

#viewport1 {
    padding-left: 0px;
}

@media only screen and (max-width: 1200px) {

    html, body {}

    .top-space-5 {
        padding-top: 2.5vh;
    }
    .left-space-5 {
        margin-left: 0px;
    }

    .image {
        max-height: 96px;
    }
}

body {
    background-color: red;
}

@media (max-width: 1280px) and (orientation:landscape) {
    body {
        background-color: hotpink;
    }

    .video-adapt {
        max-height: 400px;
    }

    .top-space-5 {
        padding-top: 2.5vh;
    }

    .image {
        max-height: 100%;
    }
}

@media (max-width: 1024px) and (orientation:landscape) {
    html, body {
        background-color: white;
        font-size: 14px;
    }

    .left-space-5 {
        margin-left: 2.5vw;
    }

    .left-space-2_5 {
        padding-left: 1vw;
    }
}

@media (max-width: 768px) and (orientation:landscape) {
    body {
        background-color: green;
    }

    .mobile-no-top-space {
        padding-top: 0px;
    }

    .left-navbar { display: none;}

    html, body {
        font-size: 12px;
    }    
    .viewport {
        padding: 0px;
    }

    .row-container {
        flex-wrap: wrap;
        height: auto;
    }
    .mobile-flip {
        flex-direction: column-reverse;
    }
    .video-container .video-adapt {
        max-height: 25vh;
    }
    .video-container {
        margin-top: 0px;
    }
    .vid, .caption, .specs, .pics {
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
}


@media (max-width: 640px) and (orientation:landscape) {
    body {
        background-color: blue;
    }
}




