/* @media (min-width: 1280px) {
    .language-bar {
        padding-right: 150px;
    }
} */

/* @media (max-width: 1919px) and (orientation:landscape) {
    html, body {
        font-size: 18px;
    }
    .viewport {
        padding: 0px 0px 0px 50px;
    }
} */

/* Lenovo Yoga Tablet 2 */

/* @media (max-width: 1280px) and (orientation:landscape) {
    html, body {
        background-color: white;
        font-size: 15px;
    }
    .viewport {
        padding: 0px 0px 0px 50px;
    }
    .home-button {
        margin: 24px;
    }
    .top-space-5 {
        padding-top: 2.5vh;
    }
    .image {
        max-height: 100%;
    }
    .language-bar {
        padding: 36px;
    }
} */

/* @media only screen and (max-width: 1200px) {
    html, body {}
    .left-space-5 {
        margin-left: 2.5vw;
    }
    .left-space-2_5 {
        padding-left: 1vw;
    }
} */

/* Samsung Galaxy Tab S2 */

/* @media (max-width: 1024px) and (orientation:landscape) {
    html, body {
        background-color: white;
        font-size: 14px;
    }

    h2 {
        font-size: 2.3rem;
    }
    h3 {
        font-size: 1.25rem;
    }
    p {
        font-size: 0.85rem;
    }
    .detail-text p {
        font-size: .75rem;
        color: var(--light-color);
    }
} */

/* Samsung Galaxy Tab S2 portrait */

/* @media (max-width: 1024px) and (orientation:portrait) {
    html, body {
        background-color: white;
        font-size: 14px;
    }
    .main {
        padding: 2rem 1rem 0rem 1rem;
    }
    .left-navbar {
        display: none;
    }
    html, body {
        font-size: 12px;
    }
    .viewport {
        padding: 0px;
    }
    .row-container {
        flex-wrap: wrap;
        height: auto;
    }
    .mobile-flip {
        flex-direction: column-reverse;
    }
    
    .home-button {
        margin: 11px;
    }
    
    .vid, .caption, .specs, .pics {
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    .vid {
        padding-top: 1vh;
    }
    .video-adapt {
        right: 0;
        bottom: 0;
        width: 100%;
        max-height: 18vh;
        background-size: cover;
    }

    .welcome-container {
        max-height: 60vh;
    }

    #vid-viewport1 {
        right: 0;
        bottom: 0;
        width: 100%;
        max-height: 100%;
        background-size: cover;
    }

    .intro {
        padding-top: 4rem;
    }

    .pics {
        width: 70%;
        margin: auto;
        padding-top: 0.5rem;
    }

    .image {
        height: 12vh;
        background-color: var(--accent-color);
    }
    .specs {
        width: 100%;
        margin: auto;
        padding: 3% 0 3% 0;
    }
    .detail-col {
        width: 100%;
    }

      .icon-group {
        display: flex;
        padding-bottom: 1vh;
    }

    .sources {
        padding-top: 0.5rem;
    }

    .logo {
        height: 5rem;
        padding-bottom: 1rem;
      }
    
    .top-space-5 {
        padding-top: 2vh;
    }
    .top-space-2_5 {
        padding-top: 1.5vh;
    }
    .mobile-no-top-space {
        padding-top: 0px;
    }
    .left-space-5 {
        margin-left: 0;
    }
    h2 {
        font-size: 2.3rem;
    }
    h3 {
        font-size: 1.25rem;
    }
    p {
        font-size: 0.85rem;
    }
    .detail-text p {
        font-size: .75rem;
        color: var(--light-color);
    }
    .button {
        cursor: pointer;
        height: 3.5vh;
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.25s ease 0s;
    }
} */

@media (max-width: 600px) {
    .title-fake {
        float: right;
        margin-left: auto;
    }
    .title-Lab {
        margin-left: 12.5vw;
    }
    .title-line-container {
        display: flex;
        width: 100%;
        line-height: var(--title-phoneUp-height);
    }
    h1 {
        font-size: var(--title-phoneUp-size);
        line-height: var(--title-phoneUp-height);
    }
    .title-line-container {
        height: var(--title-phoneUp-height);
    }
    .title-line {
        background-color: var(--accent-color);
        ;
        height: 1rem;
        margin: calc(var(--title-phoneUp-height) * 0.55 + 0%) 15px calc(var(--title-phoneUp-height) * 0.45 + 0%);
        width: 100%;
    }
    .home-button {
        margin: 11px;
    }
}

/* Samsung Galaxy Tab S10+ portrait (412) */

/* Samsung Galaxy A50 portrait (412) */

/* Apple iPhone 6+ Prortrait (414) */

@media (max-width: 414px) and (orientation:portrait) {
    .language-bar {
        flex-direction: column;
        padding: 10px 36px;
        text-align: right;
    }
    .language-bar-element {
        margin: 0.2rem 0rem;
        padding: .25rem 1rem;
        font-size: 1.25rem;
    }
}

@media (max-width: 768px) and (orientation:landscape) {
    body {
        /* background-color: green; */
    }
    .mobile-no-top-space {
        padding-top: 0px;
    }
    .left-navbar {
        display: none;
    }
    html, body {
        font-size: 12px;
    }
    .viewport {
        padding: 0px;
    }
    .row-container {
        flex-wrap: wrap;
        height: auto;
    }
    .mobile-flip {
        flex-direction: column-reverse;
    }
    .vid, .caption, .specs, .pics {
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
}

@media (max-width: 640px) and (orientation:landscape) {
    body {
        /* background-color: blue; */
    }
}